<div class="component-container-vertical center-element">

    <div class="component-container-vertical-width-height-param" style="--width: 97%; --height: 97%;">

        <div class="component-container-horizontal-height-param header center-secondary-axis" style="--height: 40px;">
            <h1 style="padding-left: 20px">{{ this.title }}</h1>
        </div>
    
        <div class="component-container-horizontal body">
            <ng-content></ng-content>
        </div>
    
    </div>
    
</div>