<div class="component-container-vertical">
    
    <mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Opacity
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div style="display: flex; flex-direction: column;">
                <div class="component-container-vertical-height-param" style="--height: 100px;" *ngFor="let pointCloud of this.pointClouds">

                    <div class="component-container-horizontal-height-param" style="--height: 50px; align-items: flex-end;">
                        <h4>{{pointCloud}}</h4>
                    </div>


                    <div class="component-container-horizontal-height-param" style="--height: 50px;">
                        <mat-slider [min]="0" [max]="1" [step]="0.05">
                            <input  matSliderThumb (valueChange)="this.pointCloudControlsController.on_style_change( pointCloud, 'opacity', $event )"> 
                        </mat-slider>
                    </div>

                    <mat-divider></mat-divider>

                </div>
            </div>
            
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Point Size
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div style="display: flex; flex-direction: column;">
                <div class="component-container-vertical-height-param" style="--height: 100px;" *ngFor="let pointCloud of this.pointClouds">

                    <div class="component-container-horizontal-height-param" style="--height: 50px; align-items: flex-end;">
                        <h4>{{pointCloud}}</h4>
                    </div>


                    <div class="component-container-horizontal-height-param" style="--height: 50px;">
                        <mat-slider [min]="0" [max]="0.5" [step]="0.005">
                            <input matSliderThumb
                                (valueChange)="this.pointCloudControlsController.on_style_change( pointCloud, 'size', $event )"> 
                        </mat-slider>
                    </div>

                    <mat-divider></mat-divider>

                </div>
            </div>
            
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Visibility
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div style="display: flex; flex-direction: column;">
                <div class="component-container-vertical-height-param" style="--height: 60px;" *ngFor="let pointCloud of this.pointClouds">

                    <div class="component-container-horizontal-height-param" style="--height: 50px;">
                        <mat-checkbox (change)="this.pointCloudControlsController.on_visibility_change(pointCloud, $event)">{{ pointCloud }}</mat-checkbox>
                    </div>

                    <mat-divider></mat-divider>

                </div>
            </div>
            
        </mat-expansion-panel>
       
      </mat-accordion>
    

</div>