.component-container-vertical {

    display: flex;
    flex: 1;
    flex-direction: column;

}

.component-container-horizontal{

    display: flex;
    flex: 1;
    flex-direction: row;

}

.component-container-horizontal-width-param{

    display: flex;
    flex-direction: row;
    width: var(--width);
    height: 100%;
    
}

.component-container-horizontal-height-param{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--height);
    

}

.component-container-horizontal-width-height-param{

    display: flex;
    flex-direction: row;
    width: var(--width);
    height: var(--height);
    

}

.component-container-vertical-height-param{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--height);

}

.component-container-vertical-width-param{
    
    display: flex;
    flex-direction: column;
    width: var(--width);
    height: 100%;

}

.component-container-vertical-width-height-param{
    
    display: flex;
    flex-direction: column;
    width: var(--width);
    height: var(--height);

}

.overlapping-component{

    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

}

// Positioning
.center-main-axis{

    justify-content: center;
}

.center-secondary-axis{

    align-items: center;
}

.center-element{
    
    align-items: center;
    justify-content: center;

}


// Text
.text-overflow{

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

// clicks
.clickable {

    cursor: pointer;

}