<div class="component-container-horizontal">
    
    <div class="component-container-horizontal-width-param" style="--width: 80%">
        <app-spatial-viewer></app-spatial-viewer>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="component-container-vertical">
        
        <div class="component-container-horizontal-height-param" style="--height: 30%"></div>

        <mat-divider></mat-divider>

        <div class="component-container-horizontal"></div>
        
    </div>

</div>