<div class="component-container-horizontal">
    
    <div class="component-container-horizontal-width-param" style="--width: 80%">

        <div style="width: 100%; height: 100%; position: relative;">
        
            <div style="width: 100%; height: 100%; top: 0px; left: 0px; position: absolute;">
                <div style="width: 100%; height: 100%; display: flex;">
                    <app-spatial-viewer></app-spatial-viewer>
                </div>
            </div>

            <div style="width: 100px; height: 100px; top: 0px; left: 0px; position: absolute;">
                <div style="width: 100%; height: 100%; display: flex;">
                    <app-query-bar (querybuttonclicked)="this.offlineViewController.on_query_button_click()"></app-query-bar>
                </div>
            </div>


        </div>

    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="component-container-vertical">
        
        <div class="component-container-horizontal-height-param" style="--height: 30%"></div>

        <mat-divider></mat-divider>

        <div class="component-container-horizontal"></div>
        
    </div>

</div>