<div class="component-container-horizontal">
    
    <div class="component-container-horizontal-width-param" style="--width: 70%">

        <div style="width: 100%; height: 100%; position: relative;">

            <!--  -->
            <div style="width: 100%; height: 100%; top: 0px; left: 0px; position: absolute;">
                <div style="width: 100%; height: 100%; display: flex;">
                    <app-spatial-viewer 
                        (timestampselected)="this.offlineViewController.on_timestamp_selected({ source: 'spatialviewer', timestamp: $event.timestamp })"
                        [selectedtimestamp]="(this.offlineViewController.selectedTimestamp$ | async)"
                        [streams]="this.offlineViewController.loadedStreams$ | async">
                    </app-spatial-viewer>
                </div>
            </div>

            <div style="width: 100px; height: 400px; top: 0px; left: 0px; position: absolute;" >
                <div style="width: 100%; height: 100%; display: flex;">
                    <app-query-bar
                        (annotationbuttonclicked)="this.offlineViewController.on_annotation_button_click()"
                        (querybuttonclicked)="this.offlineViewController.on_query_button_click()">
                    </app-query-bar>
                </div>
            </div>

        </div>

    </div>

    <!-- <mat-divider [vertical]="true"></mat-divider> -->

    <div class="component-container-vertical">


        <div class="component-container-horizontal-height-param" style="--height: 30%;">
            <app-media-viewer 
                [streams]="(this.offlineViewController.loadedStreams$ | async)"
                [selectedtimestamp]="(this.offlineViewController.selectedTimestamp$ | async)"
                [videos]="(this.offlineViewController.loadedVideos$ | async)!">
            </app-media-viewer>
        </div>

        <!-- <mat-divider></mat-divider> -->

        <div class="component-container-horizontal">
            <app-temporal-viewer
                (timestampselected)="this.offlineViewController.on_timestamp_selected({ source: 'temporalviewer', timestamp: $event.timestamp } )" 
                [selectedtimestamp]="(this.offlineViewController.selectedTimestamp$ | async)"
                [streams]="this.offlineViewController.loadedStreams$ | async">
            </app-temporal-viewer>
        </div>
        
    </div>

</div>