<div class="component-container-vertical">

    <div class="component-container-vertical-height-param" style="--height: 100px"></div>

    <div class="component-container-vertical">
        <app-offline-view></app-offline-view>
    </div>

    <!-- <div class="header-wrapper">
        <app-toolbar
            (onleftmenuclicked)="leftdrawer.toggle()"
            (onrightmenuclicked)="rightdrawer.toggle()">
        </app-toolbar>
    </div>

    <div class="body-wrapper">

        <mat-drawer-container class="drawer-container" [hasBackdrop]=false>

            <mat-drawer #leftdrawer class="sidenav-wrapper" [position]="'start'" [mode]="'over'">
                <div class="component-container-vertical">
                </div>
            </mat-drawer>

            <mat-drawer #rightdrawer class="sidenav-wrapper" [position]="'end'" [mode]="'over'">
                <div class="component-container-vertical">                    
                </div>
            </mat-drawer>
            
            <mat-drawer-content class="component-container-vertical">
                <div class="component-container-horizontal">
                    <router-outlet></router-outlet>
                </div>
            </mat-drawer-content>

        </mat-drawer-container>

    </div> -->

</div>