<div class="component-container-vertical">

    <div class="component-container-horizontal-height-param" style="--height: 80px;">
        
        <div class="component-container-horizontal-width-param center-secondary-axis" style="--width: 300px; margin: 0px 15px 0px 15px;">
            <h1>Session Name:</h1>
        </div>
    
    </div>

    <mat-divider></mat-divider>

    <div class="component-container-horizontal">

        <form style="display: flex;">
            <div class="component-container-horizontal center-element">
                <mat-form-field>
                    <mat-label>Annotation</mat-label>
                    <textarea matInput placeholder="The user in this session was cooking..."></textarea>
                </mat-form-field>
            </div>
        </form>

    </div>

    <div class="component-container-horizontal-height-param" style="--height: 100px; justify-content: flex-end;">

        <div class="component-container-horizontal-width-param center-element" style="--width: 120px; margin: 0px 15px 0px 15px;">
            <button mat-raised-button color="primary">Cancel</button>
        </div>
        <div class="component-container-horizontal-width-param center-element" style="--width: 120px; margin: 0px 15px 0px 15px;">
            <button mat-raised-button color="primary">Save</button>
        </div>

    </div>

</div>