<div class="component-container-vertical">

    <div class="component-container-horizontal">

        <app-component-container-template [title]="'Memory'">

            <app-memory-viewer
                [selectedtimestamp]="this.selectedTimestamp"
                [streamname]="'detic:memory'"
                [streamdata]="this.streams | streamSetToStream: 'detic:memory'"
                (timestampselected)="this.timestampSelected.emit($event)">
            </app-memory-viewer>

        </app-component-container-template>
        
    </div>

    <div class="component-container-horizontal">

        <app-component-container-template [title]="'Reasoning'">
            <app-reasoning-viewer 
                (timestampselected)="this.timestampSelected.emit($event)"
                [selectedtimestamp]="this.selectedTimestamp"
                [streamdata]="this.streams | streamSetToStream: 'reasoning:check_status'">
            </app-reasoning-viewer>
        </app-component-container-template>

    </div>

    <div class="component-container-horizontal">

        <app-component-container-template [title]="'Perception'">
            <app-perception-viewer
                (timestampselected)="this.timestampSelected.emit($event)"
                [selectedtimestamp]="this.selectedTimestamp"
                [streamdata]="this.streams | streamSetToStream: 'detic:image:misc:for3d'">
            </app-perception-viewer>
        </app-component-container-template>
    
    </div>

</div>