<div class="component-container-horizontal" style="position: relative;">
    
    <div style="top: 50px; left: calc(100% - 350px); width: 300px; height: 300px; position: absolute; display: flex; z-index: 2;">
        <app-point-cloud-controls 
            (onstylechange)="this.spatialViewerController.update_style($event.objectName, $event.styleName, $event.value)"
            [loadedpointclouds]="this.spatialViewerController.streams | objectToKeys">
        </app-point-cloud-controls>
    </div>

    <div style="top: 0px; left: 0px; width: 100%; height: 100%; position: absolute; z-index: 1;" #containerref></div>

</div>